name: Build, Push & Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Login to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: arya08
          password: AaZz@@1234

      # Build and push Docker image
      - name: Build and Push
        run: |
          docker build -t arya08/demo:latest .
          docker push arya08/demo:latest

      # Deploy to EC2
      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: 13.233.99.89
          username: Ubuntu
          key: ssh-ed25519
          script: |
            docker pull arya08/demo:latest
            docker stop flask-container || true
            docker rm flask-container || true
            docker run -d -p 5000:5000 --name flask-container arya08/demo:latest
